<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,906},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>1_square.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,562},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,836},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>2_square.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,411},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,906},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>c.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,836},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>c_square.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,359},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>enemy_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{124,86}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,86}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>enemy_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,659},{124,86}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,86}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>enemy_a_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,568},{122,114}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>enemy_a_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,444},{122,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>enemy_destroy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,587},{78,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{78,70}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>enemy_destroy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,463},{122,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{122,78}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>enemy_destroy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{122,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>enemy_destroy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{104,112}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>enemy_destroy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,562},{124,102}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>enemy_destroy_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,750},{84,94}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,63},{84,94}}</string>
                <key>sourceSize</key>
                <string>{144,250}</string>
            </dict>
            <key>enemy_destroy_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,442},{118,128}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,43},{118,128}}</string>
                <key>sourceSize</key>
                <string>{144,250}</string>
            </dict>
            <key>enemy_destroy_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{144,152}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{144,152}}</string>
                <key>sourceSize</key>
                <string>{144,250}</string>
            </dict>
            <key>f.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,934},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ge_ballon_pop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,275},{55,82}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{55,82}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>ge_ballon_pop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,938},{73,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{73,66}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>ge_ballon_pop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{87,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{87,80}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>ge_ballon_pop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{93,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{93,86}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>ge_ballon_pop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,776},{93,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{93,86}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>ge_ballon_pop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,684},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>ge_ballon_pop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,666},{105,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{105,82}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>ge_ballon_pop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{99,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{99,86}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>ge_ballon_pop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,747},{99,74}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{99,74}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>item_chest_hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,84},{80,225}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{80,225}}</string>
                <key>sourceSize</key>
                <string>{120,229}</string>
            </dict>
            <key>item_chest_hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,225}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{80,225}}</string>
                <key>sourceSize</key>
                <string>{120,229}</string>
            </dict>
            <key>item_chest_hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{80,225}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{80,225}}</string>
                <key>sourceSize</key>
                <string>{120,229}</string>
            </dict>
            <key>item_chest_hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,225}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{80,225}}</string>
                <key>sourceSize</key>
                <string>{120,229}</string>
            </dict>
            <key>line_2_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,444},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>line_2_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,67},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>line_3_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,260},{13,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,59}}</string>
                <key>sourceSize</key>
                <string>{13,59}</string>
            </dict>
            <key>line_3_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,202},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>line_3_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>m.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,864},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>m_square.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,150},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>nv01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,304},{136,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{136,144}}</string>
                <key>sourceSize</key>
                <string>{164,144}</string>
            </dict>
            <key>nv02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,308},{134,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{164,144}</string>
            </dict>
            <key>nv03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{130,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{130,144}}</string>
                <key>sourceSize</key>
                <string>{164,144}</string>
            </dict>
            <key>nv04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,166},{136,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{136,144}}</string>
                <key>sourceSize</key>
                <string>{164,144}</string>
            </dict>
            <key>nv05.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,166},{140,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{140,144}}</string>
                <key>sourceSize</key>
                <string>{164,144}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,934},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>z.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,864},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>z_square.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,98},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maingame.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bbac5069ed7c69d373137921f9afe1f$</string>
            <key>textureFileName</key>
            <string>maingame.png</string>
        </dict>
    </dict>
</plist>
