<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_com_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{640,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,64}}</string>
                <key>sourceSize</key>
                <string>{640,64}</string>
            </dict>
            <key>bg_com_tower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{126,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,471}}</string>
                <key>sourceSize</key>
                <string>{126,471}</string>
            </dict>
            <key>bg_com_tower_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{136,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,546}}</string>
                <key>sourceSize</key>
                <string>{136,546}</string>
            </dict>
            <key>bg_com_weapons.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{640,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,152}}</string>
                <key>sourceSize</key>
                <string>{640,152}</string>
            </dict>
            <key>bg_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{253,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,18}}</string>
                <key>sourceSize</key>
                <string>{253,18}</string>
            </dict>
            <key>bg_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,257},{285,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,15}}</string>
                <key>sourceSize</key>
                <string>{285,15}</string>
            </dict>
            <key>bg_line_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,544},{549,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,22}}</string>
                <key>sourceSize</key>
                <string>{549,22}</string>
            </dict>
            <key>bg_sky_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1206},{350,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,137}}</string>
                <key>sourceSize</key>
                <string>{350,137}</string>
            </dict>
            <key>bg_sky_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,544},{349,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,155}}</string>
                <key>sourceSize</key>
                <string>{349,155}</string>
            </dict>
            <key>bg_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,818}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,818}}</string>
                <key>sourceSize</key>
                <string>{600,818}</string>
            </dict>
            <key>bt_paused.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,895},{67,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>bt_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1060},{234,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{234,92}}</string>
                <key>sourceSize</key>
                <string>{236,94}</string>
            </dict>
            <key>bt_play_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1179},{208,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{208,82}}</string>
                <key>sourceSize</key>
                <string>{210,84}</string>
            </dict>
            <key>bt_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,895},{67,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>bt_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,824},{234,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{234,92}}</string>
                <key>sourceSize</key>
                <string>{236,94}</string>
            </dict>
            <key>bt_retry_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1095},{208,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{208,82}}</string>
                <key>sourceSize</key>
                <string>{210,84}</string>
            </dict>
            <key>bt_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1031},{67,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>bt_sound_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,962},{67,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{540,180}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{540,180}}</string>
                <key>sourceSize</key>
                <string>{544,182}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,604},{600,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,144}}</string>
                <key>sourceSize</key>
                <string>{600,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b5873e8e8c1beed81de7e1117e71b25$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
